<html>
    <body>
        {{{body}}}
 <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/about-img.png" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Welcome to Brandingman </h2>
            <h3>We are one of the best Digital Marketing Agency.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> We Increase Your Online Presence By Performing Market Research And By Integrating Online Profiles And Platforms For You.</li>
              <li><i class="ion-android-checkmark-circle"></i>We Stand Out In Our Efficiency And Keep Time-To-Time Follow Up For The Scope Of Development In This Industry.</li>            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->
  {{> footer}}
    </body>
</html>