<html>
  <body>
    {{{body}}}
     <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Build <span>Your Brand</span><br>With Us!</h2>
      <div>
        <a href="/about" class="btn-get-started scrollto">Get Started</a>
        <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

   <!--==========================
      Testimonials Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Clients are everything . We  prioritize fostering relationships with our clients. The positive relationships we build are what will in turn foster growth for Clients  and us both. Listening to our clients is a big part of making Marketing Strategy. </p>
        </div>
        
          
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                <img src="img/clients/vancovers.jpg" class="rounded" alt="">
              <h4>Vancouver Fashion-</h4>
            </div>
           <div class="testimonial-item">
                <img src="img/clients/prop4u.jpg" class="rounded" alt="">
              <h4>Property Guru</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/riamo.jpg" class="rounded" alt="">
              <h4>Riamo engineering</h4>
            </div>
              <div class="testimonial-item">
                <img src="img/clients/kkumar.jpg" class="rounded" alt="">
              <h4>K. Kumar Creations</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/earth-school.jpg" class="rounded" alt="">
              <h4>Earth School</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/anilsir.jpg" class="rounded" alt="">
              <h4>A-one Anil Sir</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/mann-education.jpg" class="rounded" alt="">
              <h4>Mann Education</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/maruti.jpg" class="rounded" alt="">
              <h4>Maruti Academy of Mathematics</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/mini-crackers.jpg" class="rounded" alt="">
              <h4>Mini Crackers-</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/triangle.jpg" class="rounded" alt="">
              <h4>Triangle Education</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/vanshika.jpg" class="rounded" alt="">
              <h4>vanshika Tiffin Services</h4>
            </div>
            <div class="testimonial-item">
                <img src="img/clients/syberworld.jpg" class="rounded" alt="">
              <h4>syber world</h4>
            </div>


        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Portoflio Section
    ============================-->
       <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>As you can see from the list below, there are a lot of different ways to market your business online, which is why many businesses hire us to manage their digital marketing efforts </p>
        </div>
      </div>
        
      <div style="padding:1em 1em; margin:auto;max-width:50em">
                          
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="img/portfolio/2.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/3.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/4.jpg" alt="Third slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100" src="img/portfolio/5.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/6.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/7.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/portfolio/8.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
      </div>
      
    </section>
    <!-- #portfolio -->

    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Testimonials</h2>
          <p>We are here to work together to create successful businesses around the globe</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                I was advised by someone that Brandingman really knew their stuff when it came to Social ads on Google, Instagram and Facebook so we asked them to help us for a time-pressured seasonal campaign and they really did a fantastic job.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
              <h3>K. Kumar</h3>
              <h4>Founder &amp;Owner</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Brandingman did a great job and definitely knew how to get the best out of the campaign. I’d definitely use brandingman services again and recommend them to others too!
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-2.jpeg" class="testimonial-img" alt="">
              <h3>Ravindra Jain</h3>
              <h4>CEO</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                Comprehensive and detailed work on paid social and content creations. Would recommend.”
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
              <h3>Anil Patel</h3>
              <h4>Teacher</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                I like the their high flexibility that offer and the speed to which changes can be done. I would have no hesitation in recommending Profoundry”
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
              <h3>Manan Bhavsar</h3>
              <h4>Teacher</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                we found working with Brandingman very easy and they had an almost instant positive impact on our campaign.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
              <h3>Nimit Shah</h3>
              <h4>Teacher</h4>
            </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> We will create strategic  solutions to help your business grow organic clients and revenue at best price.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="tel:+91-8200873938">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    {{> footer}}
  </body>
</html>