<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Branding Man</title>
    <script src="dist/html2pdf.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-alpha: transparent;
  --color-green: #37af65;
  --text-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
label{
  font-weight: bolder;
  text-transform: capitalize;
}
.widthchanged{
  width: 124px;

}
#designation-label{
  width:auto;

}
h1 {
  font-weight: 400;
  line-height: 1.2;
}
#title{
  font-size:24px;
  font-weight: 800;

}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size:12px;
}

label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  background: transparent;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  display:grid;
  grid-template-columns:1fr auto;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  align-items: center;
  justify-content: center;
}
.header h1{
  text-transform: capitalize;
  text-decoration: underline;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-alpha);
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
}
.form-group{
  display:grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}
.form-group-multiline{
  display:grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
}
@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  /* margin: 0 auto 1.25rem auto; */
  padding: 0.10rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  /* border-radius: 0.25rem; */
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  background: transparent;
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border: none;
  border-bottom:1px solid #000;
  background:transparent;
}
.input-textarea:focus{
  border-color: none;
  outline: 0;
  box-shadow: none;

}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.line1,.line3 {
  display:grid;
  grid-template-columns:0.5fr 1fr;
}
.line5{
  display:grid;
  grid-template-columns:1fr 1fr;
}
.solutionboxwrap {
  padding-top:5px;
text-align: center;
}
.solutionbox{
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
}
.solutionbox-item{
  grid-template-columns: 1fr;
}
.sb-form-group{
  display:grid;
  grid-template-columns: 1fr;
}
.footerend{
  display:grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  padding-top:20px;
}
.terms h4{
  margin:0;
}
.terms p{
  text-align: justify;
}
th{
  font-size:18px;
}
tr{
  width:50%;
}
td input{
  width:50%
}
.tdfont{
  font-size:12px;
}

.terms p{
font-size:10px;
}
.generate{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.generate div{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap:5px ;

}
.generate p{
  font-size:16px!important;
}
    </style>
</head>
<body>
    <button id="generate" style="cursor: pointer; background:crimson; color:#fff">Create PDF</button>

    <!-- inside this div printable data starts -->
    <div id="element-to-print">
      <div class="container">
        <form id="survey-form">
          
        <!-- header text and logo -->
        <header class="header">
          <h1 id="title" class="text-center">Customer's Requirement Form</h1>
          <img src="img/logo2.png" width="50px" height="50px" alt="">
          </header>
        
            <div class="generate">
              <div>form id:<p>
                BM/D/<span  id="formid"></span>
              </p>
              </div>
              <div>Date/Time:<p id="date"></p></div>
            </div>
            <div class="form-group">
              <label
              class="widthchanged"
              id="companyname-label" for="companyname">Company Name</label>
              <input
                type="text"
                name="companyname"
                id="companyname"
                class="form-control"
                placeholder=""
                required
              />
            </div>
    
          <div class="form-group">
            <label
            class="widthchanged" id="address-label" for="address">Address</label>
            <input
              rows="1"
              type="text"
              name="address"
              id="address"
              class="form-control"
              placeholder=""
              required
            />
          </div>

       <div class="form-group">
        <label
        class="widthchanged" id="pointof-label" for="pointof">P.O.C Person</label>
        <input
          type="text"
          name="pointof"
          id="pointof"
          class="form-control"
          placeholder=""
          required
        />
      </div>
       <div class="line5">
        <div class="form-group">
          <label
          class="widthchanged" id="whatsapp-label" for="whatsapp">Whatsapp No.</label>
          <input
            type="text"
            name="whatsapp"
            id="whatsapp"
            class="form-control"
            placeholder=""
            required
          />
        </div>
        <div class="form-group">
          <label id="designation-label" for="designation">Designation</label>
          <input
            type="text"
            name="designation"
            id="designation"
            class="form-control"
            placeholder=""
            required
          />
        </div>
       </div>
       <div class="form-group">
        <label
        class="widthchanged" id="pointof-label" for="pointof">Decision Maker</label>
        <input
          type="text"
          name="pointof"
          id="pointof"
          class="form-control"
          placeholder=""
          required
        />
      </div>
      <div class="line5">
        <div class="form-group">
          <label
          class="widthchanged" id="whatsapp-label" for="whatsapp">Whatsapp No.</label>
          <input
            type="text"
            name="whatsapp"
            id="whatsapp"
            class="form-control"
            placeholder=""
            required
          />
        </div>
        <div class="form-group">
          <label id="designation-label" for="designation">Designation</label>
          <input
            type="text"
            name="designation"
            id="designation"
            class="form-control"
            placeholder=""
            required
          />
        </div>
       </div>
       <div class="solutionboxwrap">
         <!-- <h1>Smart Solution Box</h1> -->
       <div class="solutionbox">
         <!-- solution box item -->
         <div class="solutionbox-item">
          <div class="sb-form-group">
            <label  for="address">problem you're facing</label>
            <textarea
              type="text"
              rows="3"
              cols="40"
              name="address"
              id="address"
              class="sb-input-textarea"
              placeholder=""
              required
            ></textarea>
          </div>
         </div>
         
         <!-- solution box item -->
                 <!-- solution box item -->
                 <div class="solutionbox-item">
                  <div class="sb-form-group">
                    <label  for="address">solution you want</label>
                    <textarea
                      rows="3"
                      cols="40"
                      type="text"
                      name="address"
                      id="address"
                      class="sb-input-textarea"
                      placeholder=""
                      required
                    ></textarea>
                  </div>
                 </div>
                 <!-- solution box item -->
                 <!-- solution box item -->
                 <div class="solutionbox-item">
                  <div class="sb-form-group">
                    <label  for="address">our Offering</label>
                    <textarea
                      rows="3"
                      cols="40"
                      type="text"
                      name="address"
                      id="address"
                      class="sb-input-textarea"
                      placeholder=""
                      required
                    ></textarea>
                  </div>
                 </div>
                 <!-- solution box item -->
                 <div class="footerend">
                  <div class="followerslikes">
                    <div class="tablewrap">
                      <table id="customers">
                        <tr>
                          <th><p>Social Media</p></th>
                          <th><p>Instagram</p></th>
                          <th><p>Facebook</p></th>
                          <th><p>Youtube</p></th>
                          <th><p>Twitter</p></th>
                          <th><p>Linkedin</p></th>
                        </tr>
                        <tr>
                          <td class="tdfont">Followers</td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                        </tr>
                        <tr>
                          <td class="tdfont">Last Post Likes</td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="terms">
                    <h4></h4>Terms and Conditions</h4></h4>
                    <p>•	Content and Graphics for succeeding month must be confirmed before 1st working day of the month. <span style="padding-left:10px"> (Content and Graphic idea must be confirmed 15 days before 1st working day of the targeted month)</span>.
                      <br/>•	We only provide sample watermarked graphics during finalizing process.
                      <br/>•	We only provide 3 changes in Post after getting ideation done. 
                      <br/>•	Any extra addition of new post or in post would be charge extra and required prior notice on pre confirmed message medium before 36 Working Hours.
                      <br/>•	Per month subscription charges must be paid before 3rd of every month, failing in this lead penalty and suspension of the content/graphics activities.</p>
                    </div>
                 </div>
                </div>                                          
       </div>
      </form>
      </div>
      
    </div>
    <!-- inside this div printable data ends -->





<script>
  // hash starts
  let randomcode = Math.random().toString(36).substring(7);
  document.getElementById("formid").innerHTML=randomcode;
  // hash ends
  // date/time starts
  var objToday = new Date(),
	weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'),
	dayOfWeek = weekday[objToday.getDay()],
	domEnder = function() { var a = objToday; if (/1/.test(parseInt((a + "").charAt(0)))) return "th"; a = parseInt((a + "").charAt(1)); return 1 == a ? "st" : 2 == a ? "nd" : 3 == a ? "rd" : "th" }(),
	dayOfMonth = today + ( objToday.getDate() < 10) ? '0' + objToday.getDate() + domEnder : objToday.getDate() + domEnder,
	months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
	curMonth = months[objToday.getMonth()],
	curYear = objToday.getFullYear(),
	curHour = objToday.getHours() > 12 ? objToday.getHours() - 12 : (objToday.getHours() < 10 ? "0" + objToday.getHours() : objToday.getHours()),
	curMinute = objToday.getMinutes() < 10 ? "0" + objToday.getMinutes() : objToday.getMinutes(),
	curSeconds = objToday.getSeconds() < 10 ? "0" + objToday.getSeconds() : objToday.getSeconds(),
	curMeridiem = objToday.getHours() > 12 ? "PM" : "AM";
var today = curHour + ":" + curMinute + "." + curSeconds + curMeridiem + " " + dayOfWeek + " " + dayOfMonth + " of " + curMonth + ", " + curYear;

document.getElementById('date').innerHTML = today;
  
// date/time ends




document.getElementById('generate').onclick = function () {
	// Your html2pdf code here.
	var element = document.getElementById('element-to-print');
	html2pdf(element);
};

//document.getElementById('generateCanvas').onclick = function () {
	//var element = document.getElementById('element-to-print');
	//html2canvas(element).then(function (canvas) {
  //	document.body.appendChild(canvas);
  //});
//};

</script>
</body>
</html>